<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="textarea">
            <name>firebaseConfiguration</name>
            <label>Firebase Setup Code</label>
            <label lang="de">Firebase Code</label>
            <value><![CDATA[<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<![CDATA[<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "XXXX",
    authDomain: "XXXXX",
    databaseURL: "XXXX",
    projectId: "XXX",
    storageBucket: "XXX",
    messagingSenderId: "XXX"
  };
  firebase.initializeApp(config);
</script>]]></value>
            <options>
                <xtype>codemirror</xtype>
                <mode>htmlmixed</mode>
                <height>220</height>
            </options>
        </element>
    </elements>
</config>
